<h1> Welcome to Project Iris </h1>
<aside> Currently hosted at http://guarded-beyond-2952.herokuapp.com/ </aside>
<h2> To make use of the endpoints of this page: </h2>
<ul>
  <li>
    <strong>Index of hotspots: </strong>http://guarded-beyond-2952.herokuapp.com/hotspots/2014-01-01/2014-04-12
  </li>
  <li>
    <strong>Index of photos at a hotspot: </strong>http://guarded-beyond-2952.herokuapp.com/hotspots/1/2014-01-01/2014-01-02
  </li>
</ul>
<h2> Happy AJAX! </h2>
